{% extends "base.html" %}

{% block content %}
<div class="card message-page">
  <div class="message-header">
    <div>
      <h1>{{ thread.subject }}</h1>
    </div>
  </div>

  <div class="chat-box">
    {% if thread_messages %}
      {% for thread_message in thread_messages %}
        <div class="chat-row {% if thread_message.sender == request.user %}chat-row-right{% else %}chat-row-left{% endif %}">
          <div class="chat-bubble {% if thread_message.sender == request.user %}sent{% else %}received{% endif %}">
            <div class="chat-sender">
              {{ thread_message.sender.get_full_name|default:thread_message.sender.username }}
            </div>

            <p>{{ thread_message.body }}</p>

            <small>
              {{ thread_message.created_at|date:"d M Y, H:i" }}
            </small>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class="message-empty">No messages yet.</p>
    {% endif %}
  </div>

  <form method="post" class="chat-reply-form">
    {% csrf_token %}
    {{ form.body }}

    <button class="btn save-btn" type="submit">
      Send
    </button>
  </form>
</div>

<a class="a-text" href="{% url 'message:inbox' %}">Back to Inbox</a>
{% endblock %}