{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>BRFN Marketplace</title>

  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

<header class="nav">
  <div class="nav-inner">
    <a class="brand" href="{% url 'home' %}">BRFN Marketplace</a>

    <nav class="nav-links">
      <a href="{% url 'marketplace:product_list' %}" {% if request.resolver_match.url_name == 'product_list' %}class="active"{% endif %}>Products</a>
      
      {% if user.is_authenticated and user.profile.role == "ADMIN" %}
        <a href="{% url 'accounts:admin_dashboard' %}">Admin Dashboard</a>
      {% endif %}

      {% if user.is_authenticated %}
        {% if user.profile.role == "PRODUCER" and user.profile.is_verified %}
          <a href="{% url 'marketplace:producer_product_list' %}" {% if request.resolver_match.url_name == 'producer_product_list' or request.resolver_match.url_name == 'product_create' or request.resolver_match.url_name == 'product_update' %}class="active"{% endif %}>My Products</a>
          <a href="{% url 'marketplace:producer_order_list' %}" {% if request.resolver_match.url_name == 'producer_order_list' or request.resolver_match.url_name == 'producer_order_detail' %}class="active"{% endif %}>Orders</a>
          <a href="{% url 'marketplace:producer_payments' %}" {% if request.resolver_match.url_name == 'producer_payments' %}class="active"{% endif %}>Payments</a>
        {% elif user.profile.role == "PRODUCER" and not user.profile.is_verified %}
          <p href="#" style="color:  red;">Account under review</p>
        {% elif user.profile.role == "CUSTOMER" or user.profile.role == "COMMUNITY_GROUP" or user.profile.role == "RESTAURANT" %}
                <a href="{% url 'cart:detail' %}">
                  <i class="fa-solid fa-cart-shopping" style="font-size:22px;"></i>
                  {% if cart_item_count > 0 %}
                    ({{ cart_item_count }})
                  {% endif %}
                </a>
        {% endif %}

        <div class = "profile-dropdown">
          <button class = "profile-dropdown-toggle" type="button" onclick="toggleProfileDropdown()">
            <i class="fa-solid fa-circle-user"></i>
          </button>

          <div class = "profile-dropdown-menu" id = "profileDropdownMenu">
            
            <a href="{% url 'accounts:profile' %}">My Profile</a>
            <a href="#">Settings</a>
            <a href="{% url 'message:inbox' %}">Messages</a>

            {% if user.profile.role == "PRODUCER" and user.profile.is_verified %}
              <a href="{% url 'marketplace:producer_product_list' %}">My Products</a>
              <a href="{% url 'marketplace:producer_order_list' %}">Orders</a>
              <a href="{% url 'marketplace:producer_payments' %}">Payments</a>

            {% elif user.profile.role == "PRODUCER" and not user.profile.is_verified %}
              <a href="#" style="color:  red;">Account under review</a>

            {% elif user.profile.role == "CUSTOMER" %}
            <a href="#">Order History</a>


            {% elif user.profile.role == "COMMUNITY_GROUP" %}
              <a href="#">Group Orders</a>

            {% elif user.profile.role == "RESTAURANT" %}
              <a href="#">Group Orders</a>
              <a href="#">Order History</a>
            {% endif %}

            
            <a href="{% url 'accounts:logout' %}">Logout</a>

          </div>
        </div>
      {% else %}
        <a href="{% url 'accounts:login' %}" {% if request.resolver_match.url_name == 'login' %}class="active"{% endif %}>Login</a>
        <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register</a>
      {% endif %}
    </nav>
  </div>
</header>

<main class="container">
  {% if user.is_authenticated %}
    <div class="user-info">
      {% if request.user.profile.role == "PRODUCER" %}
        Welcome back, {{ request.user.profile.business_name|title }}!
        <span style="color: #087d73;">({{ request.user.profile.display_role }})</span>
      {% elif request.user.profile.role == "RESTAURANT" %}
        Welcome back, {{ request.user.profile.business_name|title }}!
        <span style="color: #087d73;">({{ request.user.profile.display_role }})</span>
      {% elif request.user.profile.role == "COMMUNITY_GROUP" %}
        Welcome back, {{ request.user.profile.business_name|title }}!
        <span style="color: #087d73;">({{ request.user.profile.display_role }})</span>
      {% elif request.user.profile.role == "ADMIN" %}
        <div class = "admin-center">Admin Portal</div>
      {% else %}
        Welcome back, {{ request.user.profile.contact_first_name|title }} {{ request.user.profile.contact_last_name|title }}!
        <span style="color: #087d73;">({{ request.user.profile.display_role }})</span>
      {% endif %}
    </div>
    <br>
  {% endif %}

  {% if messages and request.resolver_match.app_name != "message" %}
    <div class="stack">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    <div style="height: 12px;"></div>
  {% endif %}

  {% block content %}{% endblock %}
</main>
<script>
  function toggleProfileDropdown() {
    document.getElementById("profileDropdownMenu").classList.toggle("show");
  }

  window.addEventListener("click", function(event) {
    if (!event.target.closest(".profile-dropdown")) {
      const dropdown = document.getElementById("profileDropdownMenu");
      if (dropdown) {
        dropdown.classList.remove("show");
      }
    }
  });
</script>

</body>
</html>